header{
   width: 100%;
   height: 10%;
   background:  #B40404;
   position: absolute;
   top: 0%; 
   left: 0%;
   border-collapse: collapse;
   box-shadow: 2px 2px 5px #999;    
}

aside{
    width: 17%;
    height: 90%;
    position: absolute;
    top: 10%; 
    left: 0%;
    background: #E6E6E6;
    border-collapse: collapse;
    box-shadow: 2px 2px 5px #999;  
}
body{
    background-color: white;
}
table{
    width: 100%;
    height: 33%;
    margin: 0px;
    border-collapse: collapse;
}
.TrOpciones{
   color: black;
   text-align: left;
   font-size: 20%;
   font: 98% sans-serif;
   width: 100%;
   height: 4%;
   border-bottom: darkgray 1px solid;
}
.boton {
   background: url(http://www.ashleyjt.net/windows/images/Android.png) /* Url de la imagen */ no-repeat center center, #FFF;
   background-size: 60%; 
   background-image: url("/Imagenes/conexus.png");
   height: 35px;  
   width: 35px;  
   display: table;
   border-radius: 100%;
   cursor: pointer;
   box-shadow:  
   inset 0 10px 15px rgba(255,255,255,.35), inset 0 -10px 15px rgba(0,0,0,.05), inset 10px 0 15px rgba(0,0,0,.05), inset -10px 0 15px rgba(0,0,0,.05),
   0 5px 20px rgba(0,0,0,.1);
   position: absolute;
   top: 25%; 
   left: 95%;
}

.boton:active {
  box-shadow: inset 0 5px 30px rgba(0,0,0,.2); /* Sombra interior */
  background-size: 55%; /* Cambiamos el tamaño de la imagen */
}

h1{
    color: white;
    font-size: 98%;
    position: absolute;
    top: 27%; 
    left: 3%;
    font-weight: bold;
    font: 150% sans-serif;
}

h2{
    color: white;
    font-size: 95%;
    position: absolute;
    top: 4%; 
    left: 75%;
    font: 150% sans-serif;
    width: 30%;
}
a:link  
{   
 text-decoration:none;   
}  
a:visited  
{   
 text-decoration:none;   
 color: black;
}
a{
  color: black;
}
.TrOpciones:hover {
    background-color: darkgray;
    border-collapse: collapse;
    box-shadow: 2px 2px 5px #999;
    border-bottom: #B40404 1px solid;
}
.TrOpciones:hover .Seleccion{
    background-color: #B40404;
    border-bottom: #B40404 1px solid;
    width: 4%;
    height: 5%
}  
section{
    overflow-x:auto;
    width: 77%;
    height: 83%;
    position: absolute;
    top: 15%; 
    left: 20%; 
}
h1{
    width: 50%;
    height: 40%;
    color: white;
    position: absolute;
    top: 6%; 
    left: 4%;
}
.h1Letra{
    color: white;
    font-size: 98%;
    font-weight: bold;
    font: 100% sans-serif;
}
.h1Letra:visited{
    color: white;
}
.Seleccion{
    border-bottom: white 1px solid;
    border-top: white 1px solid;
    background-color: darkgray;
    width: 4%;
    height: 5%
} 

.dropbtn {
    color: black;
    padding: 0px;
    border: none;
    cursor: pointer;
    height: 100%;
    width: 100%;
    opacity:0;
    position:absolute;
    left:0%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    text-align: left;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-image: url("/Imagenes/flecha.png");
    background-repeat: no-repeat;
    background-position-y: center;
    border-collapse: collapse;
    box-shadow: 2px 2px 5px #999;
    border-bottom: #B40404 1px solid;
}

.dropdown-content a:before{
     width : 400%;
}

.TrOpciones:hover .dropdown-content {
    display: block;
}

.TrOpciones:hover .dropbtn {
}

.Icono{
    background-size: 100%; 
    height: 18px;  
    width: 24px; 
    float: left;
}

.Home{
    background-size: 100%; 
    background: url("/Imagenes/home.png") no-repeat;
    height: 30px;  
    width: 37px; 
    position: absolute;
    top: 25%;
    left: 1.5%;
}

#Departamentos{
    background: url("/Imagenes/departamentos.png") no-repeat;
}

#Empresas{
    background: url("/Imagenes/empresas.png") no-repeat;
}

#Personal{
    background: url("/Imagenes/personal.png") no-repeat;
}

#Puestos{ 
    background: url("/Imagenes/puestos.png") no-repeat;
}

#Acciones{ 
    background: url("/Imagenes/acciones.png") no-repeat;
}
